* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --blue: #fdf7d8;
}
/* --------------------
!!!!! Grid !!!!!
-------------------- */
body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

header {
  grid-area: 1 / 1 / 2 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---------------------------
!!!!! Valvs and signalds !!!!!
--------------------------- */
/*inn valv */
#valv-inn-text {
  grid-area: 2 / 2 / 3 / 3;
  border: solid;
}
/*stiplet linje melom div 5 og valv inn text */
#signal-inn-valve {
  grid-area: 3 / 2 / 4 / 3;
}
/*valv inn til tanken */
#valv-inn {
  grid-area: 4 / 2 / 5 / 3;
}
/* signal til valv out */
#signal-out-valve {
  grid-area: 4 / 6 / 6 / 7;
}
/*valv out navn */
#valv-out-text {
  grid-area: 4 / 7 / 5 / 8;
}
/*valv ut av tanken */
#valv-out {
  grid-area: 6 / 6 / 7 / 7;
}
/*valv til dreneringsrør */
#dranage-valv {
  grid-area: 7 / 3 / 8 / 4;
}

/* --------------------
!!!!! Pipe !!!!!
-------------------- */
/* Inn fra renseanleg */
#treatment-plant {
  grid-area: 4 / 1 / 5 / 2;
}
/*røre inn til tanken */
#pipe-inn-tank {
  grid-area: 4 / 3 / 5 / 4;
}
/* drenering rør fra tank */
#dranage-pipe {
  grid-area: 6 / 3 / 7 / 4;
}
/*rør ut av tanken */
#pipe-out-tank {
  grid-area: 6 / 5 / 7 / 6;
}
/* rør fra valv ut av tanker til produksonen */
#pipe-production {
  grid-area: 6 / 7 / 7 / 8;
}
/* ut til produksjon */
#production {
  grid-area: 6 / 8 / 7 / 9;
}
/* --------------------
!!!!! Tank !!!!!
-------------------- */
/* tank navn */
#tank-name {
  grid-area: 3 / 4 / 4 / 5;
}
/*signal på tank for/og nivå måler */
#Level-reader {
  grid-area: 3 / 5 / 5 / 6;
}
/* tank er tanken fylt med vann */
.tank {
  grid-area: 4 / 4 / 7 / 5;
}
/* --------------------
!!!!! General !!!!!
-------------------- */
/*elven det går ut i */
#River {
  grid-area: 8 / 2 / 9 / 5;
}
/* --------------------
!!!!! Footer !!!!!
-------------------- */
/* fotter */
footer {
  grid-area: 9 / 1 / 10 / 9;
}
